body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #8a8eb5;
    background-color: #081029;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.content {
    width: 900px;
    margin: 0 auto;
    text-align: center;
}

input[type="text"], input[type="button"] {
    background: none;
    border: 1px solid #8a8eb5;
    color: #8a8eb5;
}

.axis path,
.axis line {
  fill: none;
  stroke: #b6b4d9;
  shape-rendering: crispEdges;
}

.grid path,
.grid line {
  fill: none;
  stroke: #495169;
  shape-rendering: crispEdges;
}

.axis .tick {
    stroke:#8a8eb5;
    stroke-width:1px; 
} 

.line {
  fill: none;
  stroke-width: 2.5px;
}

.yText {
    text-anchor: end;
    stroke: #495169;
    shape-rendering: crispEdges;
}
.focus circle {
    fill: none;
    stroke: yellow;
    stroke-width: 1.5px;
}
#focusLineX{
    fill:none;
    stroke: yellow;
    stroke-width: 2px;
    stroke-dasharray: 4, 10;
}
.dateLabel, .salesLabel {
    stroke:yellow;
}